body{
	padding: 0px;
	margin: 0px;
	font-family: Arial;
	background-image: url("banana.jpg");
	background-color: rgba(255, 255, 255, 0.5);
  	background-blend-mode: overlay;
  	height: 100%;
}

.container{
	margin: 0px 25%;
	background-color: rgba(166, 240, 230, 0.8);
	opacity: 50%;
	padding: 1px;
}

#video{
	position: fixed;
	z-index: -10;
	min-width: 100%;
	min-height: 100%;
}

.imagen img{
	height: 300px;
	border-radius: 50%;
}

.imagen{
	text-align: center;
	margin: 0px;
}

h2{
	text-align: center;
	padding: 0px
	margin 0px;
	color: #2D413E;
	font-family: Monaco;
}

h3 {
	text-align: center;
	font-family: Monaco;
	font-size: 18px;
}

.informacion{
	text-align: justify;
	font-size: 15px;
	color: #2D413E;
}

h3{
	color: #2D413E;
}

.contacto{
	color: #2D413E;
}

p{
	text-align: center;
}

form{
	padding: 0px 20px;
	margin: 5px;
}

.nombre{
	width: 100%;
	font-family: Helvetica;
	border-radius: 9px;
}

.mail{
	width: 100%;
	font-family: Helvetica;
	border-radius: 5px;
}

.mensaje{
	width: 100%;
	font-family: Helvetica;
	border-radius: 5px;
	margin: 0px 0px 0px 0px;
}

.boton{
	text-align: center;
	background-color: #1CCB4B;
	border-radius: 10px;
	padding: 6px;
	color: white;
	font-family: Monaco;
	font-size: 14px;
	te
	margin: 0px 25px 20px 25px;
}

.boton:hover{
	opacity: .6;
}

